body {
    display: flex;
    justify-content: center;
}

.App div {
    display: flex;
    flex-direction: column;
}

.todo {
    display: flex;
    flex-direction: column;
    /* max-width: */
}

.todo.completed {
    background-color: black;
}